hydra-core==1.3.2
numpy
wandb
easydict
transformers
omegaconf
opencv-python
einops
thop
robosuite==1.4.0
bddl
future
matplotlib
mujoco==3.3.2
cloudpickle
gym
numexpr
h5py
torchsde
torchdiffeq
imageio[ffmpeg]
open3d
ftfy
Pillow
regex
scipy
termcolor
tqdm
